{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    
    {% block title %}
        <title>Calyvim</title>
    {% endblock title %}

    {% block head_script %}
    {% endblock head_script %}

    {% vite_hmr_client %}
</head>

<body>
    <div id="app"></div>

    {{ props|json_script:"props" }}

    {% block script %}
    {% endblock script %}
</body>

</html>