@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-notification-notice-message {
  margin-bottom: 3px !important;
  color: #8B5CF6 !important;
  font-weight: 600 !important;
  font-size: 14px !important; /* Default is 16px */
}

.ant-notification-notice-description {
  font-size: 13px !important; /* Default is 14px */
}