{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/main.css' %}">
    <title>Taskite</title>
</head>
<body>
    {% include 'home/_navbar.html' %}

    {% block main %}
    {% endblock main %}

    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
</body>
</html>